
## SOURCE : https://www.if-not-true-then-false.com/2009/tuning-nano-text-editor-with-nanorc/#smooth-scrolling

# Indent new lines to the previous line’s indentation. This is also useful when editing source code.
set autoindent

# Do case sensitive searches by default.
set casesensitive

# remove the blank line below the titlebar.
# So it’s possible to use the blank line below the titlebar as extra editing space.
set morespace


# Don’t wrap long lines.
set nowrap


# Set width of a tab to #cols columns, must be greater than 0.
set tabsize 4

# Convert typed tabs to spaces.
set tabstospaces

# Text will scroll line-by-line, instead of the usual chunk-by-chunk behavior.
set smooth

include ~/.nano/syntax/ALL.nanorc
